.search-panel{
  padding: 0.8em;
  position: absolute;
  left: 0;
  height: 100vh;
  min-height: 100%;
  transition: 0.35s ease-in-out;
  background-color: #1E213A;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-panel nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.search-panel-hidden{
  left:-770px
}
.search-bar{
  width: 90%;
  display: flex;
  margin-top: 20px;
}
.searchbox{
  background-color: yellow;;
  width: 100%;
  position: relative;
}
.searchbox input, .searchbox input:focus{
  background-color: #1E213A;
  color: #616475;
  border: 1px solid #E7E7EB;
  padding: 0 0 0 35px;
  outline: none;
  height: 100%;
  width: 100%;
}
.search-bar button{
  border: none;
  color: white;
  padding:11px;
  cursor: pointer;
  background: #3C47E9;
}
.search-bar label{
  position: absolute;
  top:5px;
  left: 5px;
}

.city-list{
  width: 100%;
  list-style: none;
  padding: 0;
}
.city-list li{
  padding: 1.2rem 5px;
  margin: 5px;
  border: 1px solid #1E213A;
  padding-left: 1rem;
  font-size: 0.85rem;
}
.city-list li:hover{
  border: 1px solid white;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .search-panel{
    width:100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
  }
}