.weather-details{
  display: flex;
  flex-direction: column;
  background: #100E1D;
  padding-left: 4rem;
  padding-right: 4rem;
  justify-content: space-between;
}
.conversion-bar button{
  display: inline-block;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}
.conversion-bar{
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}
.weekly-weather{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 40px 0;
}
.highlights{
  display: flex;
  justify-content: center;
}
.highlights-wrapper{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}

.temp-unit-button-selected{
  background: #E7E7EB;
  color: #100E1D;

}

footer{
  margin-top: 50px;
  text-align: center;
  font-size: 0.8rem;
}
footer a{
  text-decoration: none;
  color: #8accf9;
}
footer a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .weather-details{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1920px) {
  .weather-card{
    width: 120px;
    height: 177px;
  }
}