.weather-card{
  background: #1E213A;
  padding: 10px 5px;
  border-radius: 5px;
  width: 120px;
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.weather-card img{
  width: 55%;
}
.weather-card p{
  margin: 0;
}
.weather-card-temp{
  font-size: 1.2em;
}
.min-temp{
  opacity: 0.5;
  margin-left: 1em;
}