
.App{
  background-color: #1E213A;
  display: flex;
}
.today-weather-container{
  width:35%;
  min-width: 280px;
  max-width: 340px;
}
.weather-details{
  width: 100%;
  padding: 0.8rem;
  color: white;
}

@media screen and (max-width: 620px) {
  .App{
    flex-direction: column;
  }
  .today-weather-container{
    width:100%;
    min-width: 100%;
    max-width: 100%;
  }
}



