
.App{
  background-color: #1E213A;
  display: flex;
  position: relative;
}
.today-weather-container{
  /* width:35%; */
  min-width: 300px;
  max-width: 340px;
}
.weather-details{
  width: 100%;
  padding: 0.8rem;
  color: white;
}

.alternative-screen{
  background-color: #1E213A;
  display: grid;
  height: 100vh;
  min-height: 100%;
  color: white;
  place-content: center;
  font-size: 4rem;
}

@media screen and (max-width: 750px) {
  .search-panel{
    background-color: yellow;
  }
  .App{
    flex-direction: column;
  }
  .today-weather-container{
    width:100%;
    min-width: 100%;
    max-width: 100%;
  }
}